<%- include('./partials/boilerplate') %>

<!-- <div class="wrapper"> -->
<div class="albums-page-title center">
    <h1>Albums Page</h1>
</div>
<div class="albums-container">
    <div class="col-25">

    </div>

    <div class="col-75">
        <h1>
            YOUR ALBUMS
        </h1>

        <% for (let album of data.albums) { %>
        <div class="albumBox">
            <div class="albumRow">
                <div class="left">
                    <a href="/albums/<%= album.id%>">
                        <h2><%= album.name %></h2>
                    </a>
                </div>
                <div class="right">
                    <form method="POST" action="/albums/<%= album.id %>?_method=DELETE">
                        <input class="deleteButton" type="submit" value="Delete album">
                    </form>
                </div>
            </div>

        </div>
        <% } %>
    </div>
</div>

<%- include('./partials/end') %>