<%- include('./partials/boilerplate') %>
<%- include('./partials/nav') %>

<!-- <div class="wrapper"> -->
<div class="albums-page-title ">
    <h1 class="center">Albums Page</h1>

</div>
<div class="albums-container">
    <div class="col-25">
        <h1>
            Categories
        </h1>


    </div>

    <div class="col-75">
        <h1>
            Your Albums
        </h1>
        <div class="albums-left-container">
            <% for (let album of data.albums) { %>
            <div class="album">
                <img src="<%= album.album_cover %>" max-width="350px" maxh-heigt="350px" width="auto" height="auto">
                <div class="albumRow">
                    <div class="left">
                        <h3><a href="/albums/<%= album.id%>"><%= album.name %></a></h3>
                    </div>
                    <div class="right">
                        <form method="POST" action="/albums/<%= album.id %>?_method=DELETE">
                            <input class="deleteButton" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('./partials/end') %>