<%- include('./partials/boilerplate') %>
<%- include('./partials/nav') %>

<div class="imageContainer">

    <% for (let photo of data.photos) { %>
    <% console.log("Log",photo)%>

    <a class="photos" href="/photos/<%= photo.id%>"><img src="<%= photo.pic_url %>"></a>

    <% } %>



</div>
<%- include('./partials/end') %>