<%- include('./partials/boilerplate') %>

<!-- <div class="wrapper"> -->
<h1>Add a new picture</h1>

<!-- POST is making a wrong request, it should create a new picture -->
<!-- <form method='POST' action='/albums/<%= data.album.id %>'>
    <input type='submit' value='New Picture' />
</form> -->

<div class="imageContainer">
    <!-- <h2>pictures</h2> -->
    <% for (let photo of data.photos) { %>
    <div class="imageBox">
        <a href="/albums/<%= photo.id%>"><img class="photobook_picture" src="<%= photo.pic_url %>"> </a>
        <div class=" row like-row">
            <img src="/notLiked.png" id="likedButton" width="36">
            <h5>Liked status</h5>
        </div>
        <div class="row">
            <div>
                <h4>See it in full res</h4>
            </div>
        </div>
        <div class="row">
            <form method="POST" action="/albums/<%= photo.id %>?_method=DELETE">
                <input type="submit" value="Delete this picture">
            </form>
        </div>
        <p>Temp</p>
        <h2><%= photo.pic_desc %></h2>
    </div>

    <% } %>

</div>

<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your
                browser</a> to improve your experience.</p>
        <![endif]-->
<%- include('./partials/end') %>